* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    background: linear-gradient(#18191a, #3a3b3c);
    min-height: 100vh;  
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.text {
    
}

/*  */